.page {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__body {
    height: 90%;
    display: grid;
    grid-template-columns: auto auto auto;
    overflow-y: scroll;
  }

  &__footer {
    height: 5%;
    margin: 10px;
    display: flex;
    align-items: center;
  }

  &__header {
    h2 {
      margin: 0;
      border-bottom: 1px solid lightgray;
    }
    margin: 10px;
    height: 5%;
    display: flex;
    align-items: center;
  }
}